@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Qwitcher+Grypen:wght@400;700&family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');



/* SECTION 1- MAIN NAVBAR */ 

.navbar {
  box-shadow: 14px 13px 21px -2px rgba(0,0,0,0.59);
  -webkit-box-shadow: 14px 13px 21px -2px rgba(0,0,0,0.59);
  -moz-box-shadow: 14px 13px 21px -2px rgba(0,0,0,0.59);
}

.nav-link:hover {
  background-image: linear-gradient( 109.6deg,  rgba(0,0,0,1) 11.2%, rgba(11,132,145,1) 91.1% );
  border-radius: 25px;
  box-shadow: 14px 13px 21px -2px rgba(0,0,0,0.59);
  -webkit-box-shadow: 14px 13px 21px -2px rgba(0,0,0,0.59);
  -moz-box-shadow: 14px 13px 21px -2px rgba(0,0,0,0.59);
}

/* ANIMATIONS LANDING PAGE GENERAL LAYOUT */ 

.bg-img {
  background-image: linear-gradient( 109.6deg,  rgba(0,0,0,1) 11.2%, rgba(11,132,145,1) 91.1% );
}

.event-title-wavy {
  font-family: 'Permanent Marker', cursive;
}

/* ANIMATION LANDING PAGE ON SMALL SCREEN */  

@media screen and (min-width: 430px) {

.sliding-item-sm-screen {
  font-size: 1.3em;
  letter-spacing: 5px;
  animation: slideDown1 5s forwards;
}

.fade-text {
  right: 20px;
  top: 80px;
  opacity: 0;
  font-size: 0.7em;
  animation: showingUp 5s ease-in 2.5s forwards;
  overflow: hidden;
}

.icon-animated-sm {
  bottom: 20px;
  right: 40px;
  font-size: 1.2em;

}

@keyframes slideDown1 {
  from {
    transform: translateY(-70px);
  }
  to {
    transform: translateY(40px);
  }
}

  @keyframes showingUp {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

}

/* ANIMATIONS LANDING PAGE MEDIUM SCREEN */ 

@media screen and (min-width: 570px) {

  .sliding-item-sm-screen {
    letter-spacing: 10px;
    font-size: 2em;
    animation: slideDown 5s forwards;
  }

  .fade-text {
    right: 75px;
    line-height: 30px;
    top: 140px;
    opacity: 0;
    font-size: 1em;
    animation: showingUp 5s ease-in 2.5s forwards;
  }

  .icon-animated-sm {
    font-size: 35px;
    bottom: 30px;
    right: 80px;
  
  }

  @keyframes slideDown {
    from {
      transform: translateY(-80px);
    }
    to {
      transform: translateY(80px);
    }
  }

  @keyframes showingUp {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

}

/* ANIMATIONS LANDING PAGE ON LG SCREEN */ 

@media screen and (min-width: 992px) {

.sliding-item-lg-screen {
  letter-spacing: 10px;
  font-size: 3em;
  animation: slideDown 5s forwards;
}

.fade-text {
  right: 100px;
  top: 180px;
  opacity: 0;
  font-size: 1.2em;
  animation: showingUp 5s ease-in 2.5s forwards;
}

.icon-animated-lg {
  bottom: 50px;
  right: 100px;
  font-size: 3em;
}

@keyframes slideDown {
  from {
    transform: translateY(-80px);
  }
  to {
    transform: translateY(100px);
  }
}

@keyframes showingUp {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

}

/* ANIMATIONS LANDING PAGE ON XXL SCREEN */ 

@media screen and (min-width: 1301px) {

  .sliding-item-lg-screen {
    letter-spacing: 10px;
    font-size: 4em;
    animation: slideDown 5s forwards;
  }
  
  .fade-text {
    right: 100px;
    top: 250px;
    line-height: 45px;
    opacity: 0;
    font-size: 1.7em;
    animation: showingUp 5s ease-in 2.5s forwards;
  }
  
  .icon-animated-lg {
    bottom: 60px;
    right: 120px;
    font-size: 3.8em;
  }
  
  @keyframes slideDown {
    from {
      transform: translateY(-80px);
    }
    to {
      transform: translateY(150px);
    }
  }
  
  @keyframes showingUp {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  }


/* CARD EVENTS LAYOUT */


.btn-participation {
  background-image: linear-gradient( 109.6deg,  rgba(0,0,0,1) 11.2%, rgba(11,132,145,1) 91.1% );
}

.marker-police {
  font-family: 'Permanent Marker', cursive;
  letter-spacing: 8px;
  word-spacing: 6px;
}


/* SPONSORS */


.sponsors-title {
  font-family: 'Permanent Marker', cursive;
  letter-spacing: 8px;

}







/* FOOTER PESRONAL SIGNATURE */

.signature {
  font-family: 'Qwitcher Grypen', cursive;
  font-size: 2.7em;
}

/* FOOTER BUTTON UP */

.arrow-up-icon{
  height: 90px;
  width: 100px;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-clip-path: circle(50% at 50% 55%);
  clip-path: circle(50% at 50% 55%);
  overflow: hidden;
  
}

.Up-icon {
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
}

