@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Qwitcher+Grypen:wght@400;700&family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Qwitcher+Grypen:wght@400;700&family=Shadows+Into+Light&display=swap');

/* SECTION 1- MAIN NAVBAR */ 

.navbar {
  box-shadow: 14px 13px 21px -2px rgba(0,0,0,0.59);
  -webkit-box-shadow: 14px 13px 21px -2px rgba(0,0,0,0.59);
  -moz-box-shadow: 14px 13px 21px -2px rgba(0,0,0,0.59);
}



.nav-link:hover {
  background-image: linear-gradient( 109.6deg,  rgba(0,0,0,1) 11.2%, rgba(11,132,145,1) 91.1% );
  border-radius: 25px;
  box-shadow: 14px 13px 21px -2px rgba(0,0,0,0.59);
  -webkit-box-shadow: 14px 13px 21px -2px rgba(0,0,0,0.59);
  -moz-box-shadow: 14px 13px 21px -2px rgba(0,0,0,0.59);
}

.landingblockquote h1 {
  font-size: 1.1em;
  word-spacing: 7px;
  font-family: 'Permanent Marker', cursive;
  background-image: linear-gradient( 109.6deg,  rgba(0,0,0,1) 11.2%, rgba(11,132,145,1) 91.1% );
}


/* SECTION 1 - BUTTONS AND BLOCKQUOTE POSITION CHANGING FROM MD SCREEN */ 


@media screen and (min-width: 768px) {

  .landingblockquote {
    font-size: 1.5em;
    position: absolute;
    width: 75%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 30px;
    opacity: 0.6;
    z-index: 50;
    }
  
  .landingPage-buttons {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 99;
    }
  }


  @media screen and (min-width: 992px) {
 
    a.nav-link  {
      font-size: 1em;
    }

  
    .landingblockquote {
      font-size: 1.9em;
    }

    .btn-landingpage {
      font-size: larger;
    }
    
  }

  @media screen and (min-width: 1300px) {
 
    a.nav-link  {
      font-size: 1.4em;
    }
    
  }

/* SECTION 2 - ABOUT US - GENERAL LAYOUT */ 

#About-Us {
  padding-top: 250px;
}

#About-Us h2 {
  font-family: 'Permanent Marker', cursive;
  padding-left: 1.8em;
  letter-spacing: 6px;
  word-spacing: 10px;
  border-radius: 0px 0px 200px 0px;
  border-radius: 200px 0px 200px 0px;
  -webkit-border-radius: 200px 0px 200px 0px;
  -moz-border-radius: 200px 0px 200px 0px;
  background-image: linear-gradient( 109.6deg,  rgba(0,0,0,1) 11.2%, rgba(11,132,145,1) 91.1% );
}

#About-Us span {
  font-family: 'Permanent Marker', cursive;
}

.right-side p {
  font-family: 'Qwitcher Grypen', cursive;
  font-size: 3.5em;
}

/* SECTION 2 - ABOUT US - PICTURES POSITION ON MD AND LARGE SCREEN */

@media screen and (max-width: 950px) {

  .about-img-1 {
    width: 100%;
  }
  .about-img-2 {
    width: 100%;
  }

}
/* SECTION 2 - ABOUT US - PICTURES POSITION  ON XL SCREEN */

@media screen and (max-width: 1300px) {

  .about-img-1 {
    width: 70%;
  }
  .about-img-2 {

    width: 70%;
  }
}

/* SECTION 2 - ABOUT US - PICTURES POSITION CHANGES ON XXL SCREEN */

@media screen and (min-width: 1301px) {

  .bg-image-linear-gradient {
    position: absolute;
    top: -30%;
    left: 0;
    height: 150%;
    width: 100%;
    z-index: 5;
    -webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    background-image: linear-gradient( 109.6deg,  rgba(0,0,0,1) 11.2%, rgba(11,132,145,1) 91.1% );
  }
  
  .about-img-1 {
    position :absolute;
    right: 35px;
    z-index: 7;
    width: 500px;
  }
  .about-img-2 {
    position :absolute;
    top: 90px;
    left: 70px;
    z-index: 10;
    width: 330px;
    }
  }

  /* SECTION 3  - SERVICES  */

.Services {
  padding-bottom: 100px;
}

.service-main-title {
  font-family: 'Permanent Marker', cursive;
  letter-spacing: 4px;
  word-spacing: 10px;
  color: white;
  background-image: linear-gradient( 109.6deg,  rgba(0,0,0,1) 11.2%, rgba(11,132,145,1) 91.1% );
}


.img-bg {
  width: 100%;
  height: 100%;
}

.img-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 0.5s ease;
  background-image: linear-gradient( 109.6deg,  rgba(0,0,0,1) 11.2%, rgba(11,132,145,1) 91.1% );
  opacity: 0;
 
}

.btn-overlay {
  position: absolute;
  bottom: 0;
  right: 25px;
  border-radius: 25px;
  background-image: linear-gradient( 109.6deg,  rgba(0,0,0,1) 11.2%, rgba(11,132,145,1) 91.1% );
}


.img-overlay:hover {
  opacity: 0.5;
}



/* SECTION 4 - CONTACT   */

.black-wrapper {
  height: 130px;
}

.original-police {
  font-family: 'Permanent Marker', cursive;
  letter-spacing: 8px;
  word-spacing: 6px;
  background-image: linear-gradient( 109.6deg,  rgba(0,0,0,1) 11.2%, rgba(11,132,145,1) 91.1% );
}


.card-title {
  background-image: linear-gradient( 109.6deg,  rgba(0,0,0,1) 11.2%, rgba(11,132,145,1) 91.1% );
}


/* SECTION 5 - TEMOIGNAGES */


.temoignages-header h2 {
  font-family: 'Permanent Marker', cursive;  letter-spacing: 8px;
  word-spacing: 6px;
  background: linear-gradient( 109.6deg,  rgba(0,0,0,1) 11.2%, rgba(11,132,145,1) 91.1% );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.volunteer {
  font-family: 'Permanent Marker', cursive;  letter-spacing: 8px;
  word-spacing: 6px;
  background: linear-gradient( 109.6deg,  rgba(0,0,0,1) 11.2%, rgba(11,132,145,1) 91.1% );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* SECTION 6 - SOCIAL MEDIA ICONS ANIMATION  */

.social-media-title {
  font-family: 'Permanent Marker', cursive;
  letter-spacing: 8px;
  word-spacing: 6px;
}

.social-icons a {
  color: #3b3d42;
}

.social-icons a:hover {
  transform: perspective(300px) rotateY(180deg);
  transition: transform 0.2s linear, background-color 0s linear 0.1s, color 0s linear 0.1s;
}

.social-icons a:nth-child(1):hover {
  color: white;
  background-color: #3B5998;
}
.social-icons a:nth-child(2):hover {
  color: white;
  background: #f09433; 
  background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
  background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
  background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
    }

.social-icons a:nth-child(3):hover {
  color: white;
  background-color: #00ACED;
}
.social-icons a:nth-child(4):hover {
  color: white;
  background-color: rgb(0, 97, 146);
}


/* SECTION 7 - FOOTER */

.newsletter {
  background-image: linear-gradient( 109.6deg,  rgba(0,0,0,1) 11.2%, rgba(11,132,145,1) 91.1% );
}

.don h4 {
  font-family: 'Permanent Marker', cursive;
  letter-spacing: 6px;
  word-spacing: 6px;
}

.nav-link-adoption {
  text-decoration: none;
}

/*  BUTTON UP */

.arrow-up-icon{
  height: 90px;
  width: 100px;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-clip-path: circle(50% at 50% 55%);
  clip-path: circle(50% at 50% 55%);
  overflow: hidden;
  
}

.Up-icon {
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
}



/* FOOTER PESRONAL SIGNATURE */

.signature {
  font-family: 'Qwitcher Grypen', cursive;
  font-size: 2.7em;
}
